<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar
      *ngIf="!showLupa"
      placeholder="Search ......"
      showCancelButton="focus"
      cancelButtonText="Cancel"
      animated="true"
      show-clear-button="always"
      clear-icon="trash-bin"
      value=""
      (ionInput)="handleInputText($event)"
      (ionCancel)="cancelSearhText($event)"
    >
    </ion-searchbar>
    <ion-title *ngIf="showLupa"> Sources </ion-title>

    <ion-buttons slot="primary" *ngIf="showLupa" end>
      <ion-button
        color="primary"
        ion-button
        icon-only
        (click)="showSearchTextBox()"
        light
        *ngIf="showLupa"
      >
        <ion-img src="assets/icon/search.png" size="32"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Adicionando nuestro refrescador -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item
      *ngFor="let source of data"
      routerLink="../../news-source/{{source.id}}"
    >
      <ion-label>
        <h3 text-wrap>{{source.name}} {{source.url}}</h3>
        <h2>{{source.url}}</h2>
        <p>{{ source.description}}</p>
        <p>
          <ion-icon name="copy-outline"></ion-icon>{{ source.category}}
          <ion-icon name="language-outline"></ion-icon>{{ source.language}}
          <ion-icon name="navigate-circle-outline"></ion-icon>{{
          source.country}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
